.custom-tooltip-pbc {
    padding: 8px;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px; 
    height: 100px; 
    border-radius: 8px;
    overflow: hidden;
    }
.tooltip-label {
      font-size: 1.125rem; 
      font-weight: 500; 
    }
    
.tooltip-value-pbc {
      font-size: 0.875rem; 
      padding: 0px;
      color: white;
      display: flex;
      flex-direction: column;

    }
.intro {
        margin: 2px 0; 
        line-height: 1.2; 
      }
      .recharts-legend {
        font-size: 5px; 
      }