.custom-tooltip-scp{
    
    color: white;
    display: flex;
    text-align: center;
    background-color: #1e293b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 50px; 
    border-radius: 8px;
    overflow: hidden;
    }

.tooltip-value-scp{
    font-size: 0.875rem; 
    padding: 0px;
    color: white;
    display: flex;
    flex-direction: column;
}